<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1}]')
});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="backend-name" data-view="Text" data-title="Backend Oncall" data-moreinfo="Fix all the servers!"</div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontend-name" data-view="Text" data-title="Frontend Oncall" data-moreinfo="Fix all the pretty things!"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="heroku-triggered" data-view="Hotness" data-title="Heroku Triggered" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="heroku-acknowledged" data-view="Hotness" data-title="Heroku ACK'd" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="librato-triggered" data-view="Hotness" data-title="Librato Triggered" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="librato-acknowledged" data-view="Hotness" data-title="Librato ACK'd" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ghostinspector-triggered" data-view="Hotness" data-title="GhostInspector Triggered" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ghostinspector-acknowledged" data-view="Hotness" data-title="GhostInspector ACK'd" data-cool="0" data-warm="2"></div>
    </li>
  </ul>
</div>
